body { /* tag */
	background: #F5F5DC
}

.text { /* class */
	color: gray;
	background-color: white;
	font-size: 15px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.left {
	text-align: left;
}
.red-bold {
	font-weight: bold;
	color: red;
	text-decoration: underline;
}
.right{
	text-align: left;
	text-transform: uppercase;
	font-weight: bold;
}

.header { /* id */
	color: black;
	text-align: center;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
ol {
	font-style: italic;
	text-align: center;
}
li {
	background-color: yellow;
	margin: 5px;
}
ul {
	text-align: left;
}

.file {
	color: red;
}
.parent{
	width: 300px;
	height: 500px;
	background-color: blue;
	margin: 20px;
	padding: 15px;
	position: relative;
}
.child{
	width: 40px;
	height: 40px;
	display: inline-block;
	position: absolute;
}
.child1{
	background-color: red;
	bottom: 20px;
	right: 20px;
}
.child2{
	background-color: yellow;
	bottom: 20px;
	left: 20px;
}
.child3{
	background-color: lightblue;
	top: 20px;
	left: 20px;
	z-index: 1;
}
.child4{
	background-color: green;
	top: 20px;
	right: 20px;
}
